<ion-header>

  <ion-navbar>
    <language-chooser></language-chooser>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card padding>
    <header><h1>Dictionary</h1></header>
    <button ion-button outline (click)="gotoAbout()">About this dictionary</button>
    <button ion-button outline (click)="gotoSearch()">Search</button>
  </ion-card>

  <ion-card padding *ngIf="loading">
    <div class="loading-container small inline">
      <div class="loading spin"></div>
    </div>
    <div>
      Updating:
      <span *ngFor="let letter of lettersLoading$ | async">
        {{letter}}
      </span>
    </div>
  </ion-card>

  <ion-card padding class="alphabet">
    <div class="loading-container" *ngIf='downloading$ | async'>
      <div class="loading spin"></div>
    </div>
    <button
      ion-button
      *ngFor="let letter of lettersLoaded$ | async | values"
      (click)="gotoWordlist(letter)">
      {{letter}}
    </button>
  </ion-card>

  <ion-card padding class="meta">
    <p>{{status$ | async}}</p>
    <p>{{syncMessage$ | async}}</p>
  </ion-card>


</ion-content>
